---
// Avatar
// ------------
// Description: the avatar component is used to represent a user or entity.
// Properties:
// - Size: the size of the avatar (lg, base, sm, xs)
// - Link: the link of the avatar
// - Radius: the radius of the avatar
// - Image: the image of the avatar
// - classes: additional classes
// Reference: https://wind-ui.com/components/avatars/

// Props
type Props = {
	size?: 'lg' | 'base' | 'sm' | 'xs'
	link?: string
	radius?: string
	image: { src: string; alt: string }
	classes?: string
}
const { size = 'base', link = '#', radius, image, classes } = Astro.props
---

<a
	href={link}
	class:list={['avatar', { ['avatar--' + `${size}`]: size }, , { [`${classes}`]: classes }]}
>
	<img src={image.src} alt={image.alt} title={image.alt} class={radius} />
</a>

<style>
	.avatar {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: rgb(255 255 255);
	}
	
	.avatar :global(img) {
		max-width: 100%;
	}
	
	.avatar--lg {
		height: 3rem;
		width: 3rem;
	}
	
	.avatar--lg :global(img) {
		height: 3rem;
		width: 3rem;
	}
	
	.avatar--base {
		height: 2.5rem;
		width: 2.5rem;
	}
	
	.avatar--base :global(img) {
		height: 2.5rem;
		width: 2.5rem;
	}
	
	.avatar--sm {
		height: 2rem;
		width: 2rem;
	}
	
	.avatar--sm :global(img) {
		height: 2rem;
		width: 2rem;
	}
	
	.avatar--xs {
		height: 1.5rem;
		width: 1.5rem;
	}
	
	.avatar--xs :global(img) {
		height: 1.5rem;
		width: 1.5rem;
	}
</style>
