---
// Feed
// ------------
// Description: the feed component is a ui element that displays a stream of content (static or dynamic), such as comments, activity updates, posts, in a chronological order.
// Properties:
// - Data: the data of the feed (consists of title, date, text, and image)
// - classes: additional classes

// Props
type Props = {
	data: Array<{
		title: string
		date?: string
		text?: string
		image?: string
	}>
	classes?: string
}
const { data, classes } = Astro.props
---

<ul aria-label="Changelog feed" role="feed" class:list={['feed', { [`${classes}`]: classes }]}>
	{
		data.map((item) => (
			<li role="article" class="feed__item">
				<span class="feed__item-date"> {item.date}</span>
				<div class="feed__item-container">
					<h4 class="feed__item-header">
						{item.title}
						<span> - {item.date}</span>
					</h4>
					{item.image && (
						<div class="feed__item-image">
							<img src={item.image} alt={item.title} width="1000" height="500" />
						</div>
					)}
					<div class="feed__item-text basic-text" set:html={item.text} />
				</div>
			</li>
		))
	}
</ul>

<style>
	.feed {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 6rem;
		padding-top: 3rem;
		padding-bottom: 3rem;
		padding-left: 1.5rem;
	}
	
	.feed::before {
		content: '';
		position: absolute;
		left: 1.5rem;
		top: 0;
		height: 100%;
		transform: translateX(-50%);
		border-width: 1px;
		border-style: dashed;
		border-color: rgb(245 245 245);
	}
	
	.feed::after {
		content: '';
		position: absolute;
		bottom: 1.5rem;
		left: 1.5rem;
		top: 1.5rem;
		transform: translateX(-50%);
		border-width: 1px;
		border-color: rgb(245 245 245);
	}
	
	@media (min-width: 1024px) {
		.feed::before {
			left: 11rem;
		}
		
		.feed::after {
			left: 11rem;
		}
	}
	
	:global(.dark) .feed::before {
		border-color: rgb(38 38 38);
	}
	
	:global(.dark) .feed::after {
		border-color: rgb(38 38 38);
	}
	
	.feed__item {
		display: flex;
		gap: 1.5rem;
	}
	
	.feed__item-container {
		position: relative;
		display: flex;
		flex: 1 1 0%;
		flex-direction: column;
		padding-left: 1.5rem;
	}
	
	.feed__item-container::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0.5rem;
		z-index: 10;
		height: 0.5rem;
		width: 0.5rem;
		transform: translateX(-50%);
		border-radius: 9999px;
		background-color: rgb(var(--color-primary-500));
		box-shadow: 0 0 0 2px rgb(245 245 245);
	}
	
	@media (min-width: 1024px) {
		.feed__item-container {
			padding-left: 3rem;
		}
	}
	
	:global(.dark) .feed__item-container::before {
		box-shadow: 0 0 0 2px rgb(38 38 38);
	}
	
	.feed__item-container :global(p) {
		margin: 0;
	}
	
	.feed__item-date {
		display: none;
		font-size: 1.125rem;
		line-height: 1.75rem;
		font-weight: 500;
		color: rgb(var(--color-primary-500));
	}
	
	@media (min-width: 1024px) {
		.feed__item-date {
			display: block;
			width: 8rem;
		}
	}
	
	.feed__item-header {
		font-size: 1.125rem;
		line-height: 1.75rem;
		font-weight: 500;
		color: rgb(var(--color-primary-500));
	}
	
	@media (min-width: 1024px) {
		.feed__item-header :global(span) {
			display: none;
		}
	}
	
	.feed__item-text {
		max-width: 80rem;
	}
	
	.feed__item-image {
		margin-bottom: 1.5rem;
		overflow: hidden;
		border-radius: 0.25rem;
		border-width: 1px;
		border-color: rgb(245 245 245);
		background-color: rgb(250 250 250);
	}
	
	:global(.dark) .feed__item-image {
		border-color: rgb(38 38 38);
		background-color: rgb(23 23 23);
	}
</style>
