---
// Testimonial
// ------------
// Description: the testimonial component is a ui element that displays a quote from a customer or client.
// Properties:
// - Blockquote: the quote
// - Figcaption: the caption
// - Cite: the cite of the testimonial
// - Avatar: the user avatar
// - Size: the size of the testimonial (base, sm)
// - MobileSize: the mobile size of the testimonial (base, sm)
// - Align: the content alignment of the testimonial (left, center)
// - Rating: the rating of the testimonial (0 to 5) - optional
// - QuoteSize: the size of the quote icon
// - classes: additional classes
// Reference: https://wind-ui.com/components/testimonials/

// Components
// - UI
import { Icon } from 'astro-icon/components'
import Rating from './Rating.astro'
import Avatar from './Avatar.astro'

// Props
type Props = {
	blockquote: string
	figcaption: string
	cite?: string
	link?: string
	avatar?: any
	size?: string
	mobileSize?: string
	align?: 'left' | 'center'
	rating?: 0 | 1 | 2 | 3 | 4 | 5
	quoteSize?: number
	classes?: string
}
const {
	blockquote,
	figcaption,
	cite,
	avatar,
	size = 'base',
	mobileSize = size,
	rating,
	align = 'left',
	link,
	classes,
	quoteSize = 64
} = Astro.props
---

<div
	class:list={[
		'testimonial',
		{ ['testimonial--' + `${align}`]: align },
		{ ['text-' + `${mobileSize}`]: mobileSize },
		{ ['lg:text-' + `${size}`]: size },
		{ [`${classes}`]: classes }
	]}
>
	<div class="testimonial__container">
		<figure class="testimonial__figure">
			<blockquote class="testimonial__blockquote">
				<p>
					{blockquote}
				</p>
			</blockquote>
			<figcaption class="testimonial__figcaption">
				{rating && <Rating rating={rating} />}
				<div class="testimonial__figcaption-container">
					{
						avatar && (
							<Avatar
								size="lg"
								image={avatar}
								radius="rounded-full"
								classes="cursor-default max-w-full shrink-0"
							/>
						)
					}
					<div class="testimonial__figcaption-cite-container">
						<span class="testimonial__figcaption--credit">{figcaption}</span>
						{
							cite && (
								<cite class="testimonial__figcaption--cite">
									{link ? <a href={link}>{cite}</a> : <span>{cite}</span>}
								</cite>
							)
						}
					</div>
				</div>
			</figcaption>
		</figure>
		<Icon
			name="quotes"
			class="testimonial--quote"
			size={quoteSize}
			width={quoteSize}
			height={quoteSize}
		/>
	</div>
</div>

<style>
	.testimonial {
		overflow: hidden;
		line-height: 1.75rem;
	}
	
	.testimonial--center {
		text-align: center;
	}
	
	.testimonial--center .testimonial__figcaption:has(.avatar) .testimonial__figcaption-cite-container {
		text-align: left;
	}
	
	.testimonial--center .testimonial__figcaption {
		justify-content: center;
	}
	
	.testimonial--quote {
		position: absolute;
		left: 1.5rem;
		top: 1.5rem;
		z-index: 0;
		color: rgb(250 250 250);
	}
	
	:global(.dark) .testimonial--quote {
		color: rgb(250 250 250 / 0.15);
	}
	
	.testimonial__container {
		position: relative;
		padding: 1.5rem;
	}
	
	.testimonial__figure {
		position: relative;
		z-index: 10;
	}
	
	.testimonial__blockquote {
		padding: 1.5rem;
	}
	
	.testimonial__blockquote > :global(p) {
		color: rgb(115 115 115);
	}
	
	:global(.dark) .testimonial__blockquote > :global(p) {
		color: rgb(212 212 212);
	}
	
	.testimonial__figcaption {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding: 1.5rem;
		padding-top: 0.5rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
		line-height: 1.5;
		color: rgb(64 64 64);
	}
	
	:global(.dark) .testimonial__figcaption {
		color: rgb(250 250 250);
	}
	
	.testimonial__figcaption-container {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding-top: 1rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
	
	.testimonial__figcaption-cite-container {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
	}
	
	.testimonial__figcaption--credit {
		font-weight: 700;
		text-transform: uppercase;
	}
	
	.testimonial__figcaption--cite {
		font-style: normal;
	}
</style>
